

<div class="row marketing">
  <h4>Dennis Mariano Test Project</h4>

  <li>Backend MicroService 
      <ul>
        <li>Provides data services for CRUD Operations using Spring Boot</li>
        <li>Spring Data JPA and H2 In Memory DB</li>
        <li>SWAGGER URL: http://localhost:8090/swagger-ui.html#/</li>
        <li>PORT : 8090</li>
      </ul>
  </li>
  <li>Frontend
      <ul>
        <li>Provides User Interface for the Users  </li>
        <li>Angular JS , Grunt and BOWER build frameworks</li>
        <li>DEVELOPMENT PORT : 9000</li>
        <li>SERVER PORT : 8080</li>
        <li>CLIENT SOURCE CODE : ../src/client</li>
        <li>GRUNT BUILD will copy /client/dist folder to  : /src/main/resource/static folder</li>
      </ul>
  </li>

 

</div>
